* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --intense-theme-color: hsl(var(--color-hue), 90%, 50%);
  --light-theme-color: hsl(var(--color-hue), 30%, 50%);
  --middle-theme-color: hsl(var(--color-hue), 30%, 25%);
  --dark-theme-color: hsl(var(--color-hue), 30%, 15%);
  --color-hue: 200deg;
}

header {
  background: var(--dark-theme-color);
  padding: 0.5rem;
}

#sys_info {
  display: flex;
  justify-content: space-between;
}

main {
  height: 100%;
  min-height: 0;
  display: grid;
  gap: 4rem 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min(66vw, 50vh) auto auto;
  grid-template-areas: "lapTimes lapTimes" "watch watch" "info_row info_row" "startStopReset lap";
}

#sensor {
  width: 3rem;
  height: 3rem;
  fill: #888;
}

#sensor.active {
  fill: #8f8;
}

#sensor.detecting {
  fill: #f88;
}

#mute_button {
  background: none;
  border: none;
  /* opacity: 0; */
  width: 3rem;
  height: 3rem;
}

#mute_button #muted,
#mute_button #unmuted {
  width: 100%;
  height: 100%;
}

#mute_button #muted {
  fill: #f88;
  display: none;
}

#mute_button #unmuted {
  fill: #8f8;
  display: none;
}

#mute_button.muted,
#mute_button.unmuted {
  opacity: 1;
}

#mute_button.muted #muted,
#mute_button.unmuted #unmuted {
  display: block;
}

#info_row {
  grid-area: info_row;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#sys_mode_select {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: var(--light-theme-color);
  color: #fff;
  border: none;
}

#lapTimeWrapper {
  grid-area: lapTimes;
  overflow: auto;
  position: relative;
}

#lapTimeWrapper:after {
  margin-top: -2rem;
  position: sticky;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, transparent, #333);
}

#lapTimes {
  border-collapse: collapse;
  width: 100%;
}

#lapTimes td {
  font-size: 1.5rem;
  text-align: center;
  border-top: 0.1rem solid #aaa;
  padding: 0.5rem;
}
#lapTimes tr:first-child td {
  border: none;
}

sw-watch {
  grid-area: watch;
  width: min(66vw, 50vh);
  height: min(66vw, 50vh);
  font-size: min(4vw, 2vh);
  margin: auto;
  box-shadow: 0 0 3rem #000a;
}

#startStopReset {
  grid-area: startStopReset;
}

#lap {
  grid-area: lap;
}

#startStopReset,
#lap {
  height: 5rem;
  font-size: 3rem;
  border: none;
  background: var(--light-theme-color);
  color: #fff;
}

#startStopReset:disabled,
#lap:disabled {
  background: var(--middle-theme-color);
  color: #888;
}
